
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isAdmin() {
      return isSignedIn() &&
        (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin'
        || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'super-admin');
    }

    /********** USERS **********/
    match /users/{userId} {
      allow read, update: if isOwner(userId) || isAdmin();
      allow create: if isAdmin();
      allow delete: if isAdmin();
      allow list: if isAdmin();
    }

    /********** SUBSCRIPTIONS (Superadmin creates these) **********/
    match /subscriptions/{subscriptionId} {
      allow create, update, delete: if isAdmin();
      allow read: if isAdmin();
    }
    
    /********** OUTLETS **********/
    match /outlets/{outletId} {
      allow create, update, delete, read: if isAdmin() || (isSignedIn() && resource.data.ownerId == request.auth.uid);

      // All authenticated users of a specific outlet can read/write to its subcollections
      match /menu_items/{menuItemId} {
        allow read, write: if isSignedIn() && exists(/databases/$(database)/documents/outlets/$(outletId));
      }
      match /menu_categories/{menuCategoryId} {
        allow read, write: if isSignedIn() && exists(/databases/$(database)/documents/outlets/$(outletId));
      }
      match /ingredients/{ingredientId} {
        allow read, write: if isSignedIn() && exists(/databases/$(database)/documents/outlets/$(outletId));
      }
      match /tables/{tableId} {
        allow read, write: if isSignedIn() && exists(/databases/$(database)/documents/outlets/$(outletId));
      }
      match /orders/{orderId} {
        allow read, write: if isSignedIn() && exists(/databases/$(database)/documents/outlets/$(outletId));
      }
       match /orders/{orderId}/order_items/{orderItemId} {
        allow read, write: if isSignedIn() && exists(/databases/$(database)/documents/outlets/$(outletId));
      }
       match /customers/{customerId} {
        allow read, write: if isSignedIn() && exists(/databases/$(database)/documents/outlets/$(outletId));
      }
    }
  }
}
