@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 25 57% 92%;
    --foreground: 25 20% 15%;
    --card: 25 57% 95%;
    --card-foreground: 25 20% 15%;
    --popover: 25 57% 95%;
    --popover-foreground: 25 20% 15%;
    --primary: 25 56% 47%;
    --primary-foreground: 25 10% 98%;
    --secondary: 25 30% 85%;
    --secondary-foreground: 25 56% 47%;
    --muted: 25 30% 88%;
    --muted-foreground: 25 20% 40%;
    --accent: 25 76% 50%;
    --accent-foreground: 25 10% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 25 30% 80%;
    --input: 25 30% 80%;
    --ring: 25 56% 47%;
    --chart-1: 25 70% 50%;
    --chart-2: 15 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 40 75% 60%;
    --chart-5: 50 75% 55%;
    --radius: 0.5rem;
    --sidebar-background: 25 30% 88%;
    --sidebar-foreground: 25 20% 25%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 25 57% 92%;
    --sidebar-accent-foreground: 25 56% 47%;
    --sidebar-border: 25 30% 80%;
    --sidebar-ring: 25 56% 47%;
  }
  .dark {
    --background: 22 40% 12%;
    --foreground: 25 15% 85%;
    --card: 22 40% 15%;
    --card-foreground: 25 15% 85%;
    --popover: 22 40% 15%;
    --popover-foreground: 25 15% 85%;
    --primary: 25 56% 47%;
    --primary-foreground: 25 10% 98%;
    --secondary: 22 30% 20%;
    --secondary-foreground: 25 10% 98%;
    --muted: 22 30% 20%;
    --muted-foreground: 25 15% 65%;
    --accent: 25 76% 50%;
    --accent-foreground: 25 10% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 22 30% 25%;
    --input: 22 30% 25%;
    --ring: 25 76% 50%;
    --chart-1: 25 70% 50%;
    --chart-2: 15 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 40 75% 60%;
    --chart-5: 50 75% 55%;
    --sidebar-background: 22 40% 10%;
    --sidebar-foreground: 25 15% 85%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 22 40% 15%;
    --sidebar-accent-foreground: 25 15% 95%;
    --sidebar-border: 22 30% 20%;
    --sidebar-ring: 25 76% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
